<div class="container my-5 general-container">
    <h6 class="h6" >
        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="http://localhost:8080/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Volver al inicio
        </a>
    </h6>
    <h1>Super Coder Chat</h1>
    <hr/>
    <div>
        <i id="username"></i><input type="text" id="chatbox">
    </div>
    <div id="history"></div>
</div>
{{!-- cdn de sweetalert2 --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- aqui (del lado del cliente) configuro el socket conectandolo de la siguiente manera: --}}
{{!-- llamando y conectandome con la libreria socket.io: --}}
<script src="/socket.io/socket.io.js"></script>
{{!-- conectandome con un script que crearemos con la logica para nuestro chat: --}}
<script src="/js/chat.js"></script>

