
<div class="container my-5 general-container">
    <h6 class="h6" >
        <a class="icon-link icon-link-hover" style="--bs-link-hover-color-rgb: 25, 135, 84;" href="http://localhost:8080/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
            Volver al inicio
        </a>
    </h6>
    <h1>Productos en tiempo real</h1>
    <hr/>
    <div>
        <div>
            <h2>Crear un Nuevo Producto</h2>
            <form id="productForm" method="POST" action="/api/products" enctype="multipart/form-data">

                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Título del Producto:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="description" name="description" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="price" class="col-sm-2 col-form-label">Precio:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="price" name="price" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="thumbnail" class="col-sm-2 col-form-label">Imagen:</label>
                    <div class="col-sm-10">
                        <input type="file" class="form-control" id="thumbnail" name="thumbnail" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="code" class="col-sm-2 col-form-label">Codigo:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="code" name="code" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="stock" class="col-sm-2 col-form-label">Stock:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="stock" name="stock" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="category" class="col-sm-2 col-form-label">Categoria:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="category" name="category" required>
                    </div>
                </div>

                    <div class="row mb-3">
                        <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="status" name="status" value="true">
                            <label class="form-check-label" for="status"> Activo</label>
                        </div>
                        </div>
                    </div>

                <button type="submit" class="btn btn-primary">Agregar Producto</button>
            </form>
        </div>
        <hr/>
        <div id="history" class="row row-cols-1 row-cols-md-3 g-4">
            
        </div>
    </div>
</div>

{{!-- cdn de sweetalert2 --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>

