<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Molina</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
    {{!-- esto tiene que ser asi en el main siempre --}}
    {{!-- la parte dinamica en handlebars tiene que ir siempre EN EL LAYOUT dentro de tres corchetes: --}}
    {{!-- en el resto de las views va con solo dos corchetes --}}
    {{{ body }}} {{! aqui en body se mostrará el codigo escrito en index.handlebars }}
</body>
</html>